<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Add Grammar Question</title>
</head>

{% block content %}

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
      xmlns="http://www.w3.org/1999/html">
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/css/add_conjunction_question.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>


<form class="form-grammar" name="drop_list" id="grammarForm" method="post"
      style="width:850px;height: 600px;background-image: url('/static/img/addquesback.png');margin-left: 50px"
      action="{{ url_for('save_grammar') }}" onsubmit="return validateForm()">

    <br>

    <div>
        <h3 style="color: purple; padding-left: 180px;">Intermediate Level -> Add Grammar
            Question</h3>
        <label style="color: darkviolet; padding-left: 180px;">Question format:&nbsp;&nbsp;e.g The children are ________ (play)
            outside
            now.</label>
    </div>

    <div style="height:500px; overflow:auto; overflow-x:hidden">


        <!-- Question 1 -->
        <div id="question_1_Container" role="menu">
            <div style="display: inline">
                <label style="margin-left: 100px;font-size: 16px; color:#000000;display: inline" id="lblQuestion1">Question
                    : </label>
                <input type="text" name="txtQuestion1" id="txtQuestion1" onkeyup="previewFunc1()"
                       class="form-control"
                       style="color:#000000;background-color: #CCF5FF;width: 550px;display: inline;font-size: 16px;border-color: deepskyblue"
                       placeholder="Enter your question here, insert # to indicate the blank line in the question"
                       required autofocus value="{% if errors %}{{ errors['question1'] }}{% endif %}">
                <button type="button" id="preview1" data-toggle="modal" data-target="#previewModal"
                        class="btn btn-info" data-id="1" style="border-color: blue;margin-left: 20px; width: 40px"
                        disabled><img
                        src="/static/img/preview.png" style="width: 22px; height: 22px"/></button>
                <br><br>

                <label style="color: #000000; width: 175px; text-align:right;font-size: 16px" id="lblAnswer1">Question
                    Type : </label>
                <select class="form-control" name="type1" id="type1"
                        style="border-color: #d119cf;color:#000000;background-color:#FFE6F0;width: 250px; display: inline;font-size: 16px">

                    <option style="display: none">
                        Select the question type
                    </option>
                    <option>
                        Present Tense
                    </option>
                    <option>
                        Past Tense
                    </option>
                    <option>
                        Future Tense
                    </option>
                    <option>
                        Present Continuous Tense
                    </option>
                    <option>
                        Past Continuous Tense
                    </option>

                    <option>
                        Future Continuous Tense
                    </option>

                </select>

            </div>
        </div>
        <br>

        {% if errors %}{% if errors['question1Status'] %}
        <label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label><br>
        <br>{% endif %}{% endif %}

        <input id="addQuestion2" class="btn btn-warning" type="button" style="margin-left: 180px; width: 150px"
               value="Add Question 2"/>
        <br><br>

        <!-- Question 2 -->
        <div id="question_2_Container" role="menu" style="display: none">
            <div style="display: inline">
                <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Question 2 : </label>
                <input type="text" name="txtQuestion2" id="txtQuestion2" onkeyup="previewFunc2()"
                       class="form-control"
                       style="color:#000000;background-color: #CCF5FF;width: 550px;display: inline;;font-size: 16px;border-color: deepskyblue"
                       placeholder="Enter your question here, insert # to indicate the blank line in the question"
                       value="{% if errors %}{{ errors['question2'] }}{% endif %}">
                <button type="button" id="preview2" data-toggle="modal" data-target="#previewModal"
                        class="btn btn-info" data-id="2" style="border-color: blue;margin-left: 20px; width: 40px" disabled><img src="/static/img/preview.png" style="width: 22px; height: 22px"/></button>
                <br><br>
                <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Question Type 2: </label>
                <select class="form-control" name="type2" id="type2"
                        style="border-color: #d119cf;color:#000000;background-color:#FFE6F0;width: 250px; display: inline ;font-size: 16px">

                    <option style="display: none">
                        Select the question type
                    </option>
                    <option>
                        Present Tense
                    </option>
                    <option>
                        Past Tense
                    </option>
                    <option>
                        Future Tense
                    </option>
                    <option>
                        Present Continuous Tense
                    </option>
                    <option>
                        Past Continuous Tense
                    </option>

                    <option>
                        Future Continuous Tense
                    </option>

                </select>
            </div>
            <br>
            <br>
            {% if errors %}{% if errors['question2Status'] %}
            <label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label>
            <br><br>{% endif %}{% endif %}

            <input id="addQuestion3" class="btn btn-warning" type="button" style="margin-left: 180px; width: 150px"
                   value="Add Question 3"/>
        </div>

        <br><br>
        <!-- Question 3 -->
        <div id="question_3_Container" role="menu" style="display: none">
            <div style="display: inline">
                <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Question 3 : </label>
                <input type="text" name="txtQuestion3" id="txtQuestion3" onkeyup="previewFunc3()"
                       class="form-control"
                       style="color:#000000;background-color: #CCF5FF;width: 550px;display: inline;font-size: 16px;border-color: deepskyblue"
                       placeholder="Enter your question here, insert # to indicate the blank line in the question"
                       value="{% if errors %}{{ errors['question3'] }}{% endif %}">
                <button type="button" id="preview3" data-toggle="modal" data-target="#previewModal"
                        class="btn btn-info" data-id="3" style="border-color: blue;margin-left: 20px; width: 40px" disabled><img
                        src="/static/img/preview.png" style="width: 22px; height: 22px"/></button>
                <br><br>
                <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Question Type 3: </label>
                <select class="form-control" name="type3" id="type3"
                        style="border-color: #d119cf;color:#000000;background-color:#FFE6F0;width: 250px; display: inline;font-size: 16px">

                    <option style="display: none">
                        Select the question type
                    </option>
                    <option>
                        Present Tense
                    </option>
                    <option>
                        Past Tense
                    </option>
                    <option>
                        Future Tense
                    </option>
                    <option>
                        Present Continuous Tense
                    </option>
                    <option>
                        Past Continuous Tense
                    </option>

                    <option>
                        Future Continuous Tense
                    </option>

                </select>
            </div>

            {% if errors %}{% if errors['question3Status'] %}<br><br>
            <label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label>
            <br><br>{% endif %}{% endif %}

        </div>
    </div>
    <br>
    <table align="center">
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-primary" style="border-color: deepskyblue;margin-left: 340px;margin-top:-120px;width:150px;font-size: 16px" id="save"
                       value="Save Question"/>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" style="border-color: red;width:150px;font-size: 16px;margin-top:-120px; " onclick="window.close()">Cancel
                </button>
            </td>
        </tr>
    </table>

</form>


<!--  Preview Question Model -->

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header" style="background-color: greenyellow">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Preview</h4>
            </div>
            <div class="modal-body"> <!-- style="background-image:url(/static/img/background2_blur.jpg);" -->
                <br>
                <label style="color: green; font-size: 21px">Question : </label>
                <label id="display_question" style="font-size: 20px"></label>
                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pass Data to Preview Model -->

<script type="text/javascript">
    $('#previewModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes

        if (id == 1) {
            var question = document.getElementById("txtQuestion1").value;
        }
        else if (id == 2) {
            var question = document.getElementById("txtQuestion2").value;
        }
        else if (id == 3) {
            var question = document.getElementById("txtQuestion3").value;
        }

        var que = question.split("#");
        if (que[1]) {
            var result = que[0] + " __________ " + que[1];
        }
        else {
            var result = question;
        }
        que[1] = " ";
        var modal = $(this)
        //modal.find('#question').val(result);
        document.getElementById('display_question').textContent = result;

    })
</script>


<script type="text/javascript" src="/static/js/jquery.min.js"></script>


<!-- Add Question 2 -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#addQuestion2").click(function () {
            $("#question_2_Container").fadeToggle(300);
            var el = document.getElementById("addQuestion2");
            if (el.value == "Add Question 2") {
                document.getElementById("lblQuestion1").textContent = "Question 1 : "
                document.getElementById("lblAnswer1").textContent = "Question Type 1 : "
                el.value = "Remove Question 2";
                document.getElementById("txtQuestion2").required = true;
                document.getElementById("type2").required = true;
                document.getElementById("txtQuestion2").focus();
                document.getElementById("save").value = "Save Questions";

            }
            else {
                document.getElementById("lblQuestion1").textContent = "Question : "
                document.getElementById("lblAnswer1").textContent = "Answer : "
                el.value = "Add Question 2";
                document.getElementById("txtQuestion2").value = '';
                document.getElementById("type2").value = '';
                document.getElementById("txtQuestion2").required = false;
                document.getElementById("type2").required = false;
                document.getElementById("save").value = "Save Question";
                document.getElementById("txtQuestion1").focus();
            }
            return false;
        });

        //Popup on click
        $("#question_2_Container").click(function () {
            e.stopPropagation();
        });

    });
</script>


<!-- Add Question 3 -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#addQuestion3").click(function () {
            $("#question_3_Container").fadeToggle(300);
            var el = document.getElementById("addQuestion3");
            if (el.value == "Add Question 3") {
                document.getElementById("addQuestion2").style.visibility = 'hidden';
                document.getElementById("txtQuestion3").required = true;
                document.getElementById("type3").required = true;
                document.getElementById("txtQuestion3").focus();
                el.value = "Remove Question 3";
            }
            else {
                el.value = "Add Question 3";
                document.getElementById("addQuestion2").style.visibility = 'visible';
                document.getElementById("txtQuestion2").focus();
                document.getElementById("txtQuestion3").value = '';
                document.getElementById("type3").value = '';
                document.getElementById("txtQuestion3").required = false;
                document.getElementById("type3").required = false;
            }
            return false;
        });

        //Popup on click
        $("#question_3_Container").click(function () {
            e.stopPropagation();
        });

    });
</script>


<!-- Enable/Disable Preview Buttons -->

<script type="text/javascript">
    // Question 1
    function previewFunc1() {
        var question = document.getElementById("txtQuestion1").value;

        if (!question) {
            document.getElementById("preview1").disabled = true;
        }
        else {
            document.getElementById("preview1").disabled = false;
        }
    }

    // Question 2
    function previewFunc2() {
        var question = document.getElementById("txtQuestion2").value;

        if (!question) {
            document.getElementById("preview2").disabled = true;
        }
        else {
            document.getElementById("preview2").disabled = false;
        }
    }

    // Question 3
    function previewFunc3() {
        var question = document.getElementById("txtQuestion3").value;

        if (!question) {
            document.getElementById("preview3").disabled = true;
        }
        else {
            document.getElementById("preview3").disabled = false;
        }
    }
</script>


<!-- Validate Questions -->

<script>
    function validateForm() {

        var q1 = document.getElementById("txtQuestion1");
        var q2 = document.getElementById("txtQuestion2");
        var q3 = document.getElementById("txtQuestion3");
        var showQuestion2 = document.getElementById("addQuestion2").value;
        var showQuestion3 = document.getElementById("addQuestion3").value;

        if (q1.value.indexOf('#') == -1) {
            alert("Blank(#) is missing in question 1. Please insert # to insert the blank.");
            q1.focus();
            return false;
        }
        else if ((q2.value.indexOf('#') == -1) && showQuestion2 == 'Remove Question 2') {
            alert("Blank(#) is missing in question 2. Please insert # to insert the blank.");
            q2.focus();
            return false;
        }
        else if ((q3.value.indexOf('#') == -1) && showQuestion3 == 'Remove Question 3') {
            alert("Blank(#) is missing in question 3. Please insert # to insert the blank.");
            q3.focus();
            return false;
        }
    }
</script>

<!-- Enable Question 1 preview button when question exists -->
{% if errors %}{% if errors['question1'] %}
<script>
    document.getElementById("preview1").disabled = false;
</script>
{% endif %}{% endif %}

<!-- Question 2 Display when question exists -->
{% if errors %}{% if errors['question2'] %}
<script>
    document.getElementById("preview2").disabled = false;
    $("#question_2_Container").fadeToggle(300);
    var el = document.getElementById("addQuestion2");
    if (el.value == "Add Question 2") {
        document.getElementById("lblQuestion1").textContent = "Question 1 : "
        document.getElementById("lblAnswer1").textContent = "Answer 1 : "
        el.value = "Remove Question 2";
        document.getElementById("txtQuestion2").required = true;
        document.getElementById("type2").required = true;
        document.getElementById("txtQuestion2").focus();
        document.getElementById("save").value = "Save Questions";

    }
    else {
        document.getElementById("lblQuestion1").textContent = "Question : "
        document.getElementById("lblAnswer1").textContent = "Answer : "
        el.value = "Add Question 2";
        document.getElementById("txtQuestion2").value = '';
        document.getElementById("type2").value = '';
        document.getElementById("txtQuestion2").required = false;
        document.getElementById("type2").required = false;
        document.getElementById("save").value = "Save Question";
        document.getElementById("txtQuestion1").focus();
    }
</script>
{% endif %}{% endif %}

<!-- Question 3 Display when question exists -->
{% if errors %}{% if errors['question3'] %}
<script>
    document.getElementById("preview3").disabled = false;
    $("#question_3_Container").fadeToggle(300);
    var el = document.getElementById("addQuestion3");
    if (el.value == "Add Question 3") {
        document.getElementById("addQuestion2").style.visibility = 'hidden';
        document.getElementById("txtQuestion3").required = true;
        document.getElementById("type3").required = true;
        document.getElementById("txtQuestion3").focus();
        el.value = "Remove Question 3";
    }
    else {
        el.value = "Add Question 3";
        document.getElementById("addQuestion2").style.visibility = 'visible';
        document.getElementById("txtQuestion2").focus();
        document.getElementById("txtQuestion3").value = '';
        document.getElementById("type3").value = '';
        document.getElementById("txtQuestion3").required = false;
        document.getElementById("type3").required = false;
    }
</script>
{% endif %}{% endif %}

{% endblock %}