<!DOCTYPE html>
<head>
     <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Add Matching Words Question</title>
</head>

{% block content %}

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          xmlns="http://www.w3.org/1999/html">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/add_conjunction_question.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <br>
    <form style="width:850px;height: 600px;background-image: url('/static/img/addquesback.png');margin-left: 50px" class="form-matching-words" name="drop_list" method="post" action="{{ url_for('save_matching_words_questions') }}">

        <br>

        <table>
            <tr>
                <td>
                    <h3 style="color: purple; padding-left: 180px">Preliminary Leve 2 ->  Add Matching Words Question</h3>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>

        <div style="height:450px; overflow:auto; overflow-x:hidden; ">

            <br>
            <div id="question_1_Container" role="menu">
                <div style="display: inline">
                    <label style="color: #000000; width: 175px; text-align:right;font-size: 16px" id="lblQuestion1">Word : </label>
                    <input type="text" name="question_1" id="question_1" onkeyup="changeFunc()" class="form-control" style="border-color: deepskyblue;color:#000000;font-size: 16px;background-color: #CCF5FF;width: 400px;display: inline" placeholder="Enter word here " required autofocus value="{% if errors %}{{ errors['question1'] }}{% endif %}">
                     <br><br>
                    <label style="color: #000000; width: 175px; text-align:right;font-size: 16px" id="lblAnswer1">Synonyms : </label>
                    <input type="text" name="answer_1" class="form-control" style="border-color: #d119cf;color:#000000;font-size: 16px;width: 400px; display: inline;background-color:#FFE6F0;" placeholder="Enter synonyms word here " required value="{% if errors %}{{ errors['answer1'] }}{% endif %}">
                </div>
            </div>
            <br>
                {% if errors %}{% if errors['question1Status'] %}<br><br><label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label><br><br>{% endif %}{% endif %}
                <input id="addQuestion2" class="btn btn-warning" type="button" style="border-color:orangered;margin-left: 180px; width: 150px" value="Add Question 2"/>
            <br><br>
            <div id="question_2_Container" role="menu" style="display: none">
                <div style="display: inline">
                    <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Word 2 : </label>
                    <input type="text" name="question_2" id="question_2" onkeyup="changeFunc2()" class="form-control" style="border-color: deepskyblue;color:#000000;font-size: 16px;background-color: #CCF5FF;width: 400px;display: inline" placeholder="Enter word here " value="{% if errors %}{{ errors['question2'] }}{% endif %}">
                    <br><br>
                    <label style="color: #000000; width: 175px; text-align:right;font-size: 16px">Synonyms 2 : </label>
                    <input type="text" name="answer_2" id="answer_2" class="form-control" style="border-color: #d119cf;color:#000000;font-size: 16px;width: 400px; display: inline;background-color:#FFE6F0;" placeholder="Enter synonyms word here " value="{% if errors %}{{ errors['answer2'] }}{% endif %}">
                </div>
                <br><br>
                {% if errors %}{% if errors['question2Status'] %}<br><br><label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label><br><br>{% endif %}{% endif %}
                <input id="addQuestion3" class="btn btn-warning" type="button" style="border-color:orangered;margin-left: 180px; width: 150px" value="Add Question 3"/>
            </div>
            <br>
            <div id="question_3_Container" role="menu" style="display: none">
                <div style="display: inline">
                    <label style="font-size: 16px;color: #000000; width: 175px; text-align:right;">Word 3 : </label>
                    <input type="text" name="question_3" id="question_3" onkeyup="changeFunc3()" class="form-control" style="border-color: deepskyblue;color:#000000;font-size: 16px;background-color: #CCF5FF;width: 400px;display: inline" placeholder="Enter word here " value="{% if errors %}{{ errors['question3'] }}{% endif %}">
                    <br><br>
                    <label style="font-size: 16px;color: #000000; width: 175px; text-align:right;">Synonyms 3 : </label>
                    <input type="text" name="answer_3" id="answer_3" class="form-control" style="border-color: #d119cf;color:#000000;font-size: 16px;width: 400px; display: inline;background-color:#FFE6F0;" placeholder="Enter synonyms word here " value="{% if errors %}{{ errors['answer3'] }}{% endif %}">
                </div>
            </div>
            {% if errors %}{% if errors['question3Status'] %}<br><br><label style="margin-left: 180px; color:#f08080; font-size: 16px">Question already exists!</label><br><br>{% endif %}{% endif %}
        </div>
        <br>
        <table align = "center">
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-primary"  style="border-color: deepskyblue;margin-left: 225px;width:150px;font-size: 16px" id="save" value="Save Question"/>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" style="border-color: red;width:150px;font-size: 16px " onclick="window.close()">Cancel</button>
                </td>
            </tr>
        </table>

    </form>



    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <script type="text/javascript" >
        $(document).ready(function()
        {
            $("#addQuestion2").click(function()
            {
                $("#question_2_Container").fadeToggle(300);
                var el = document.getElementById("addQuestion2");
                if (el.value == "Add Question 2")
                {
                    document.getElementById("lblQuestion1").textContent="Word 1 : "
                    document.getElementById("lblAnswer1").textContent="Synonyms 1 : "
                    el.value = "Remove Question 2";
                    document.getElementById("question_2").required=true;
                    document.getElementById("answer_2").required=true;
                    document.getElementById("question_2").focus();
                    document.getElementById("save").value="Save Questions";

                }
                else
                {
                    document.getElementById("lblQuestion1").textContent="Word : "
                    document.getElementById("lblAnswer1").textContent="Synonyms : "
                    el.value = "Add Question 2";
                    document.getElementById("question_2").value='';
                    document.getElementById("answer_2").value='';
                    document.getElementById("question_2").required=false;
                    document.getElementById("answer_2").required=false;
                    document.getElementById("save").value="Save Question";
                    document.getElementById("question_1").focus();
                }
                return false;
            });

            //Popup on click
            $("#question_2_Container").click(function()
            {
                e.stopPropagation();
            });

        });
    </script>

        <script type="text/javascript" >
        $(document).ready(function()
        {
            $("#addQuestion3").click(function()
            {
                $("#question_3_Container").fadeToggle(300);
                var el = document.getElementById("addQuestion3");
                if (el.value == "Add Question 3")
                {
                    document.getElementById("addQuestion2").style.visibility = 'hidden';
                    document.getElementById("question_3").required=true;
                    document.getElementById("answer_3").required=true;
                    document.getElementById("question_3").focus();
                    el.value = "Remove Question 3";
                }
                else
                {
                    el.value = "Add Question 3";
                    document.getElementById("addQuestion2").style.visibility = 'visible';
                    document.getElementById("question_2").focus();
                    document.getElementById("question_3").value='';
                    document.getElementById("answer_3").value='';
                    document.getElementById("question_3").required=false;
                    document.getElementById("answer_3").required=false;

                }
                return false;
            });

            //Popup on click
            $("#question_2_Container").click(function()
            {
                e.stopPropagation();
            });

        });
    </script>


    <script type="text/javascript">
        function changeFunc() {
            var question = document.getElementById("question_1").value;

            if(!question){
                document.getElementById("preview1").disabled = true;
            }
            else{
                document.getElementById("preview1").disabled = false;
            }
        }

        function changeFunc2() {
            var question = document.getElementById("question_2").value;

            if(!question){
                document.getElementById("preview2").disabled = true;
            }
            else{
                document.getElementById("preview2").disabled = false;
            }
        }

        function changeFunc3() {
            var question = document.getElementById("question_3").value;

            if(!question){
                document.getElementById("preview3").disabled = true;
            }
            else{
                document.getElementById("preview3").disabled = false;
            }
        }
    </script>



    <!-- Question 2 Display when question exists -->
    {% if errors %}{% if errors['question2'] %}
        <script>

            $("#question_2_Container").fadeToggle(300);
                var el = document.getElementById("addQuestion2");
                if (el.value == "Add Question 2")
                {
                    document.getElementById("lblQuestion1").textContent="Question 1 : "
                    document.getElementById("lblAnswer1").textContent="Answer 1 : "
                    el.value = "Remove Question 2";
                    document.getElementById("question_2").required=true;
                    document.getElementById("answer_2").required=true;
                    document.getElementById("question_2").focus();
                    document.getElementById("save").value="Save Questions";

                }
                else
                {
                    document.getElementById("lblQuestion1").textContent="Question : "
                    document.getElementById("lblAnswer1").textContent="Answer : "
                    el.value = "Add Question 2";
                    document.getElementById("question_2").value='';
                    document.getElementById("answer_2").value='';
                    document.getElementById("question_2").required=false;
                    document.getElementById("answer_2").required=false;
                    document.getElementById("save").value="Save Question";
                    document.getElementById("question_1").focus();
                }
        </script>
    {% endif %}{% endif %}

    <!-- Question 3 Display when question exists -->
    {% if errors %}{% if errors['question3'] %}
        <script>

            $("#question_3_Container").fadeToggle(300);
            var el = document.getElementById("addQuestion3");
            if (el.value == "Add Question 3")
                {
                    document.getElementById("addQuestion2").style.visibility = 'hidden';
                    document.getElementById("question_3").required=true;
                    document.getElementById("answer_3").required=true;
                    document.getElementById("question_3").focus();
                    el.value = "Remove Question 3";
                }
                else
                {
                    el.value = "Add Question 3";
                    document.getElementById("addQuestion2").style.visibility = 'visible';
                    document.getElementById("question_2").focus();
                    document.getElementById("question_3").value='';
                    document.getElementById("answer_3").value='';
                    document.getElementById("question_3").required=false;
                    document.getElementById("answer_3").required=false;
                }
        </script>
    {% endif %}{% endif %}

{% endblock %}