<!DOCTYPE html>
{% extends "home2.html" %}
{% block content %}

    <link href="/static/css/table_style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.keyTable.css">

    <script type="text/javascript" charset="utf8" src="/static/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/datatables/js/dataTables.keyTable.js"></script>

    <form method="post">
        <table  class="table1" id="mytable" cellspacing="0" width="100%" >
            <thead>
            <tr><th></th></tr>
            <tr>
                <th width="10%" style="text-align: center">&nbsp;</th>
                <th width="35%" style="text-align: center">Full Name</th>
                <th width="35%" style="text-align: center">School</th>
                <th width="20%" style="text-align: center">Add Child</th>
            </tr>
            </thead>

            <tbody>
            {% for key in data %}
                <tr>
                    <td style="text-align: center"><img src="/static/uploads/{{ key[4] }}" height="45px" width="45px"/></td>
                    <td style="text-align: center">{{ key[1]|safe }} {{ key[2]|safe }}</td>
                    <td style="text-align: center">{{ key[3]|safe }}</td>
                    <td style="text-align: center">
                        <a type="button" href="http://127.0.0.1:5000/addChildren/?email={{ key[0] }}"><button class="btn btn-info" style="height: 40px; width: 40px"><span class='glyphicon glyphicon-plus-sign'></span></button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </form>

    <script>
        $(document).ready(function() {
            var table = $('#mytable').DataTable();

            new $.fn.dataTable.KeyTable( table );
        } );

        $('#mytable').DataTable( {
            scrollY: 400
        } );

    </script>


{% endblock %}
