<!DOCTYPE html>
<head>

    <title>English Buddy</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main2.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/font.css" rel="stylesheet">


</head>

<body style="background-image: url('/static/img/level2ranking.jpg')">

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('home') }}"><img src="/static/img/home.png" height="25px"
                                                                            width="25px"><span
                            class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Resources
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Conjunctions</a></li>
                            <li><a href="#">Dialogs</a></li>
                            <li><a href="#">Grammer</a></li>
                            <li><a href="#">Notes</a></li>
                            <li><a href="#">Summary</a></li>
                        </ul>
                    </li>
                    {% if (session['role']=="Teacher") %}
                        <li><a href="http://127.0.0.1:5000/view_addQuestions">Question Bank</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if (session['role']=="Teacher") %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Switch to
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://127.0.0.1:5000/level1">Level 1</a></li>
                                <li><a href="http://127.0.0.1:5000/level2">Level 2</a></li>
                                <li><a href="http://127.0.0.1:5000/level3">Level 3</a></li>
                                <li><a href="http://127.0.0.1:5000/level4">Level 4</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><img src="/static/uploads/{{ session['profilePic'] }}"
                                                      class="img-circle" height="28px" width="28px"/>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://127.0.0.1:5000/view_profile">Profile</a></li>
                            {% if (session['role']=="Student") %}
                                <li><a href="/display_teachers">Subscribe Teacher</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="/logout">Sign out &nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>


<div>
    <button class="btn-info btn" type="submit" id="period" style="display: none ;">Start Quiz</button>
</div>

<div id="getting-started"></div>

<div style="margin-left: 1100px">
    <label style="font-size: 24px;margin-top: 30px"><b><font
            color="#00d9ff">Time
        Left &nbsp;</font></b></label>
    <snap id="countdown"
          style="font-weight: bold;margin-top: -20px ; font-size:30px;color:#00d9ff">
    </snap>
</div>

<br>


<label style="font-family:hobo; margin-left: 50px;margin-top: -150px;border:dashed;border-color: red;text-align: center;color: white">Your Current Score<br>{{ marks }}</label>
<br><br><br>
<div class="container" style="margin-bottom: 600px">

<form name="level2_ranking_test" method="post" action="{{ url_for('evaluate_level2_ranking') }}">
<input type="hidden" value="{{ category }}" name="category">
{% if category=='jumble_sentences' %}

    <div style="overflow: auto; overflow-x: hidden;height: 525px; width: 925px;margin-top: -120px">

    <table cellspacing="0" cellpadding="0" style="margin-left: 300px;">
    <tr class="item">
        <td class="form-inline">
            <label for="Question1" style="color: #000000">1.</label>

            {% for key in range((result[0][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[0][1].split(" ")[key] }}"
                       onclick="setText1(this)"/>
            {% endfor %}

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <input type="text" name="jumbleSentence_provided_answer1" id="textBox1" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>

        <td>
            <button type="button" id="clear1" class="btn btn-default"
                    onclick="document.getElementById('textBox1').value = '';" style="background-color: #000000;color: #ffffff" >Clear
            </button>
        </td>
    </tr>

    <tr>
        <td>

            <input type="hidden" id="ans1" name="jumbleSentence_correct_answer1" value="{{ result[0][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr class="item">

        <td class="form-inline" width="600px">
            <label for="Question1" style="color: #000000">2.</label>

            {% for key in range((result[1][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[1][1].split(" ")[key] }}"
                       onclick="setText2(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer2" id="textBox2" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear2" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox2').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans2" name="jumbleSentence_correct_answer2" value="{{ result[1][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">3.</label>

            {% for key in range((result[2][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[2][1].split(" ")[key] }}"
                       onclick="setText3(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer3" id="textBox3" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear3" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox3').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans3" name="jumbleSentence_correct_answer3" value="{{ result[2][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">4.</label>

            {% for key in range((result[3][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[3][1].split(" ")[key] }}"
                       onclick="setText4(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer4" id="textBox4" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear4" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox4').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans4" name="jumbleSentence_correct_answer4" value="{{ result[3][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">5.</label>

            {% for key in range((result[4][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[4][1].split(" ")[key] }}"
                       onclick="setText5(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer5" id="textBox5" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000;" readonly/>

        </td>


        <td><input type="button" id="clear5" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox5').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans5" name="jumbleSentence_correct_answer5" value="{{ result[4][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr class="item">
        <td class="form-inline">
            <label for="Question6" style="color: #000000">6.</label>

            {% for key in range((result[5][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[5][1].split(" ")[key] }}"
                       onclick="setText6(this)"/>
            {% endfor %}

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <input type="text" name="jumbleSentence_provided_answer6" id="textBox6" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>

        <td>
            <button type="button" id="clear1" class="btn btn-default"
                    onclick="document.getElementById('textBox1').value = '';" style="background-color: #000000;color: #ffffff">Clear
            </button>
        </td>
    </tr>

    <tr>
        <td>

            <input type="hidden" id="ans1" name="jumbleSentence_correct_answer6" value="{{ result[5][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr class="item">

        <td class="form-inline" width="600px">
            <label for="Question1" style="color: #000000">7.</label>

            {% for key in range((result[6][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[6][1].split(" ")[key] }}"
                       onclick="setText7(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer7" id="textBox7" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear2" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox2').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans2" name="jumbleSentence_correct_answer7" value="{{ result[6][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">8.</label>

            {% for key in range((result[7][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[7][1].split(" ")[key] }}"
                       onclick="setText8(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer8" id="textBox8" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear3" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox3').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans3" name="jumbleSentence_correct_answer8" value="{{ result[7][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">9.</label>

            {% for key in range((result[8][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[8][1].split(" ")[key] }}"
                       onclick="setText9(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer9" id="textBox9" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear4" class="btn btn-default" value="Clear" style="background-color: #000000;color: #ffffff"
                   onclick="document.getElementById('textBox4').value ='';"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans4" name="jumbleSentence_correct_answer9" value="{{ result[8][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr class="item">

        <td class="form-inline">
            <label for="Question1" style="color: #000000">10.</label>

            {% for key in range((result[9][1].split(" "))|length) %}
                <input type="button" id="Question1" class="btn btn-warning" value="{{ result[9][1].split(" ")[key] }}"
                       onclick="setText10(this)"/>


            {% endfor %}


        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        &nbsp;
        <td>
            <input type="text" name="jumbleSentence_provided_answer10" id="textBox10" value="" class="form-control"
                   style="width: 500px;color: firebrick;background-color: lightgoldenrodyellow;border-color: #000000" readonly/>

        </td>


        <td><input type="button" id="clear4" class="btn btn-default" value="Clear"
                   onclick="document.getElementById('textBox4').value ='';" style="background-color: #000000;color: #ffffff"/></td>

    </tr>
    <tr>
        <td>

            <input type="hidden" id="ans4" name="jumbleSentence_correct_answer10" value="{{ result[9][2]|safe }}"/>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    </table>
    <br><br><br><br>
        <input id="yes" onmouseover="bigSImg(this)" onmouseout="normalSImg(this)" type="image" src="/static/img/submit.png" border="0" alt="Submit" name="sub_but"   height="90" width="100" style="outline: none;margin-top: -100px;margin-left: 250px" />

    </div>
{% endif %}

{% if category=='match_pronoun' %}
    <div style="font-family:tempus;font-weight: bolder;border: solid; border-color:orange; width: 600px; height: 130px; line-height: 50px; text-align: center; margin-left: 260px;margin-top:-120px">

        <label style="cursor:move; color: #c7254e; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection1"> {{ answer[0] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: coral; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection2"> {{ answer[1] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: #ad1ee8; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection3"> {{ answer[2] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: mediumspringgreen; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection4"> {{ answer[3] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: #7cfc00; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection5"> {{ answer[4] }} </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: orange; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection1"> {{ answer[5] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: #ff1493; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection2"> {{ answer[6] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: #9DD929; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection3"> {{ answer[7] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: purple; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection4"> {{ answer[8] }} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="cursor:move; color: red; font-size: 18px" draggable="true" ondragstart="drag(event)"
               id="ansCollection5"> {{ answer[9] }} </label>

    </div>

    <br><br>
    <div style="  width: 675px;margin-left: 250px;overflow: auto;overflow-x: hidden;height: 350px;">
        <table cellspacing="0" cellpadding="0"
               style="margin-top:-200px;color: firebrick;font-family:tempus;font-weight: bold">
            <tr>
                <td> 1. {{ result[0][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer1">{{ result[0][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[0][1]|safe }}" name="match_pronounAnswer1"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 2. {{ result[1][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer2">{{ result[1][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[1][1]|safe }}" name="match_pronounAnswer2"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 3. {{ result[2][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer3">{{ result[2][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[2][1]|safe }}" name="match_pronounAnswer3"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 4. {{ result[3][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer4">{{ result[3][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[3][1]|safe }}" name="match_pronounAnswer4"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 5. {{ result[4][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer5">{{ result[4][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[4][1]|safe }}" name="match_pronounAnswer5"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 6. {{ result[5][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer6">{{ result[5][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[5][1]|safe }}" name="match_pronounAnswer6"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 7. {{ result[6][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer7">{{ result[6][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[6][1]|safe }}" name="match_pronounAnswer7"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 8. {{ result[7][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer8">{{ result[7][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[7][1]|safe }}" name="match_pronounAnswer8"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td> 9. {{ result[8][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer9">{{ result[8][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[8][1]|safe }}" name="match_pronounAnswer9"/>

                <br>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>10. {{ result[9][0].split("#")[0]|safe }}<input type="text"
                                                                    style="background-color: transparent;border: none;border-bottom: 2px solid black;outline: none;color: #0088cc;font-weight: bold;text-align: center"
                                                                    ondrop="drop(event)" ondragover="allowDrop(event)"
                                                                    name="match_pronoun_provideAnswer10">{{ result[9][0].split("#")[1]|safe }}
                </td>
                <input type="hidden" value="{{ result[9][1]|safe }}" name="match_pronounAnswer10"/>

                <br>
            </tr>

        </table>
        <br><br><br><br>
            <input id="yes" onmouseover="bigSImg(this)" onmouseout="normalSImg(this)" type="image" src="/static/img/submit.png" border="0" alt="Submit" name="sub_but"   height="90" width="100" style="outline: none;margin-top: -100px;margin-left: 10px" />

    </div>

{% endif %}
{% if category=='dialogs' %}
    {% for key in result %}
        <input type="hidden" name="qNo" value="{{ key[0] }}"/>

        <div style="border: solid; border-color:#DD1144; width: 650px; line-height:30px;margin-left: 250px;margin-top: -120px">
            <div style="padding-left: 10px"><font
                    style="color: darkmagenta;font-family:comic; font-size: 16px;">{{ key[3] |safe }}</font></div>
        </div>
        <br>
        <br>

        <div style="  width: 670px;margin-left: 250px;overflow: auto;overflow-x: hidden;height: 210px">

            <table style="font-family:comic;">
                <tr>
                    <td> {{ key[2].split("1)")[0] |safe }} &nbsp;
                        <select name="dialog_answer1">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                            <option>d</option>
                            <option>e</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <td>

                        {{ key[2].split("1)")[1].split("2)")[0] |safe }} &nbsp;
                        <select name="dialog_answer2">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                            <option>d</option>
                            <option>e</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        {{ key[2].split("2)")[1].split("3)")[0] |safe }} &nbsp;
                        <select name="dialog_answer3">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                            <option>d</option>
                            <option>e</option>
                        </select></td>
                </tr>

                <tr>
                    <td>
                        {{ key[2].split("3)")[1].split("4)")[0] |safe }} &nbsp;<select name="dialog_answer4">
                        <option>a</option>
                        <option>b</option>
                        <option>c</option>
                        <option>d</option>
                        <option>e</option>
                    </select></td>
                </tr>

                <tr>
                    <td>

                        {{ key[2].split("4)")[1].split("5)")[0] |safe }} &nbsp;<select name="dialog_answer5">
                        <option>a</option>
                        <option>b</option>
                        <option>c</option>
                        <option>d</option>
                        <option>e</option>
                    </select></td>
                </tr>


                <tr>
                    <td>
                        {{ key[2].split("5)")[1].split("6)")[0] |safe }}&nbsp;<select name="dialog_answer5">
                        <option>a</option>
                        <option>b</option>
                        <option>c</option>
                        <option>d</option>
                        <option>e</option>
                    </select>

                    </td>
                </tr>


            </table>
            <br><br><br><br>
                <input id="yes" onmouseover="bigSImg(this)" onmouseout="normalSImg(this)" type="image" src="/static/img/submit.png" border="0" alt="Submit" name="sub_but"   height="90" width="100" style="outline: none;margin-top: -100px;margin-left: 10px" />


        </div>
    {% endfor %}

{% endif %}

{% if category=='jumble_sentences' %}

   <input onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="return false" type="image" src="/static/img/instructionRank2.png" border="0" style=";outline:none;margin-left: -50px;margin-top: -250px" height="250" width="200" id="bubble" data-toggle="popover"
           title="Instructions" data-placement="top" data-content="Click on each word to put them into a sentence within given time."/>{% endif %}

{% if category=='dialogs' %}

    <input onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="return false" type="image" src="/static/img/instructionRank2.png" border="0" style="outline: none;margin-left: -50px;margin-top: -250px" height="250" width="200" id="bubble" data-toggle="popover"
           title="Instructions" data-placement="top" data-content="Complete the following dialogue. Use the words/phrases in the box."/>
{% endif %}

{% if category=='match_pronoun' %}

     <input onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="return false" type="image" src="/static/img/instructionRank2.png" border="0" style="outline: none;margin-left: -50px;margin-top: -250px" height="250" width="200" id="bubble" data-toggle="popover"
           title="Instructions" data-placement="top" data-content="Use the pronouns and synonymous given in the box. Drag and Drop them to given spaces."/>
{% endif %}

</form>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>



<script type="text/javascript">

    var timeInSecs;
    var ticker;
    var s;
    var count = 0;
    var secs = 0;
    window.onload = start;

    function start() {
        s = document.getElementById("period").value;
        document.getElementById("period").disabled = true;
        s = 1860;
        startTimer(s);
    }

    function startTimer(secs) {
        timeInSecs = parseInt(secs);
        ticker = setInterval("tick()", 1000);
        tick(); // to start counter display right away
    }

    function tick() {
        var secs = timeInSecs;
        if (secs > 0) {
            timeInSecs--;
            showTime(secs);
        }
    }

    function showTime(secs) {
        var hours = Math.floor(secs / 3600);
        secs %= 3600;
        var min = Math.floor(secs / 60);
        secs %= 60;
        var result = ((hours < 10 ) ? "0" : "" ) + hours + ":" + ( (min < 10) ? "0" : "" ) + min
                + ":" + ( (secs < 10) ? "0" : "" ) + secs;

        document.getElementById('countdown').innerHTML = result;
    }

    var auto = setInterval(function () {
        submitform();
    }, 2401000);
    function submitform() {

        document.getElementById("form1").submit();
    }
</script>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.textContent);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.value = data;
    }
</script>


<script>
    function setText1(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox1').value = document.getElementById('textBox1').value + " " + val;
    }
</script>

<script>

    function setText2(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox2').value = document.getElementById('textBox2').value + " " + val;
    }


</script>
<script>
    function setText3(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox3').value = document.getElementById('textBox3').value + " " + val;
    }


</script>
<script>
    function setText4(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox4').value = document.getElementById('textBox4').value + " " + val;
    }

</script>
<script>
    function setText5(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox5').value = document.getElementById('textBox5').value + " " + val;
    }

</script>
<script>
    function setText6(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox6').value = document.getElementById('textBox6').value + " " + val;
    }
</script>

<script>

    function setText7(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox7').value = document.getElementById('textBox7').value + " " + val;
    }


</script>
<script>
    function setText8(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox8').value = document.getElementById('textBox8').value + " " + val;
    }


</script>
<script>
    function setText9(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox9').value = document.getElementById('textBox9').value + " " + val;
    }

</script>
<script>
    function setText10(obj) {
        var val = obj.value;
        console.log(val);
        document.getElementById('textBox10').value = document.getElementById('textBox10').value + " " + val;
    }

</script>


<script>
    $('#bubble').popover('show')
    $('.popover').css("background-color", "#00FFCC");
    $('.popover-title').css("background-color", "#333300");
    $('.popover-title').css("color", "#CC0000");
    $('.popover-title').css("font-family", "myFirstFont");
    $('.popover-title').css("font-size", "30px");
    $('.popover').css("font-family", "hobo");

</script>

<script>
    function bigImg(x) {
        x.style.height = "270px";
        x.style.width = "220px";
    }

    function normalImg(x) {
        x.style.height = "250px";
        x.style.width = "200px";
    }

    function bigSImg(x) {
        x.style.height = "100px";
        x.style.width = "120px";
    }

    function normalSImg(x) {
        x.style.height = "90px";
        x.style.width = "100px";
    }

</script>