<!DOCTYPE html>
{% extends "home2.html" %}
{% block content %}


<br>
    <br>
<div class="form-group" style="margin-left: 300px">
<label for="comment" style="font-size:large ;color: #000000 " >Rewrite the sentence with SIMPLE PRESENT or PRESENT CONTINUOUS </label>
 </div>
<br>

    <div class="form-group" style="margin-left: 200px">
  <label for="comment" style="color: #ffffff">1. Mary ___________ (like / eat) sweets. Every morning she_____________.(have) coffee with a lot of sweets and chocolate. For lunch she and her friends often__________________. (eat) sweets or ice-cream. She__________________(not /like / eat) fruit or vegetables. She______________ (eat / never) eggs or cheese. Today she_____________________(be) sick. She ________________(sleep) in her room now.
</label>
  <textarea class="form-control" rows="1" id="comment" ></textarea>
</div>
    <br>
    <br>

    <div class="form-group" style="margin-left: 200px">
  <label for="comment" style="color: #ffffff">2. The boys usually________________ (ride) their bikes to school. They_______________(like / ride) their bikes. They________________(be) very naughty boys. They always__________________(go) to school late. Today their teacher_______________(be) very angry, because they____________(be) late again.
.</label>
  <textarea class="form-control" rows="1" id="comment"></textarea>
<br>
<br>
    <button class="btn-info btn" input type="submit" style="margin-left: 100px" >Mark Answers</button>

  </div>
</div>
{% endblock %}