<!DOCTYPE html>
{% extends "home2.html" %}
{% block content %}


<br>
    <br>
<div class="form-group" style="margin-left: 300px">
<label for="comment" style="font-size:large ;color: #000000 " >Rewrite the words in active voice in the space given below</label>
 </div>
<br>

<div class="form-group" style="margin-left: 200px">
  <label for="comment" style="color:#ffffff" >1.I ran the obstacle course in record time.</label>
  <textarea class="form-control" rows="1" id="comment"></textarea>
</div>
    <br>

    <div class="form-group" style="margin-left: 200px">
  <label for="comment" style="color: #ffffff">2.The crew paved the entire stretch of highway.</label>
  <textarea class="form-control" rows="1" id="comment" ></textarea>
</div>
    <br>
    <br>

    <div class="form-group" style="margin-left: 200px">
  <label for="comment" style="color: #ffffff">3.The staff is required to watch a safety video every year..</label>
  <textarea class="form-control" rows="1" id="comment"></textarea>
<br>
<br>
    <button class="btn-info btn" input type="submit">Mark Answers</button>
</div>
{% endblock %}