<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/css/resetPassword.css" rel="stylesheet">

	<title>Reset Password</title>

</head>
<body>

	<form class="form-resetPassword" role="form" method="post" action="{{ url_for('update_password') }}">
        <br><br><br><br>
        <h2 class="form-signin-heading">Reset Password</h2>
        
        <?php if(isset($email_hash,$email_code)) { ?>
        <input type="hidden" value="{{ data['email_hash'] }}" name="email_hash" />
        <input type="hidden" value="{{ data['email_code'] }}" name="email_code" />
        <?php } ?>

        <input type="email" name="txtEmail" class="form-control" placeholder="Email address" required value="{{ data['email'] }}" >
        <input type="password" name="txtNewPassword" class="form-control" placeholder=" New Password" required autofocus>
        <input type="password" name="txtComfirmPassword" class="form-control" placeholder=" Confirm New Password" required autofocus>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li style="color: gold">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btnResetPassword">Reset Password</button>
    </form>

</body>
</html>
