<!DOCTYPE html>
{% extends "home2.html" %}

{% block content %}

    <link href="/static/css/table_style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.keyTable.css">

    <script type="text/javascript" charset="utf8" src="/static/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/datatables/js/dataTables.keyTable.js"></script>

    <center>
        <div>
                    <table class="table1" id="mytable" cellspacing="0" width="100%" >
            <thead>
            <tr><th></th></tr>
            <tr>
                <th width="35%" style="text-align: center;">Question</th>
                <th width="15%" style="text-align: center;">Answer 1</th>
                <th width="15%" style="text-align: center;">Answer 2</th>
                <th width="15%" style="text-align: center;">Answer 3</th>
                <th width="15%" style="text-align: center;">Correct Answer</th>
                <th width="15%" style="text-align: center;">Edit</th>
                <th width="15%" style="text-align: center;">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for element in data %}

                <tr>

                    <td>{{ element[1].split("#")[0]|safe }}_________{{ element[1].split("#")[1]|safe }}</td>
                    <td>{{ element[2]|safe }}</td>
                    <td>{{ element[3]|safe }}</td>
                    <td>{{ element[4]|safe }}</td>
                    <td>{{ element[5]|safe }}</td>
                    <td style="text-align: center;">

                        <button type="button" data-toggle="modal" data-target="#editPModel" class="btn btn-info btn-sm" data-id="{{ element[0] }}" style="height: 40px; width: 40px"><span class='glyphicon glyphicon-pencil'></span></button></td>

                    <td style="text-align: center;">
                        <a onclick="return doconfirm();" href="http://127.0.0.1:5000/delete_adjectives/?qNo={{element[0]}}"><button class="btn btn-danger" style="height: 40px; width: 40px"><span class="glyphicon glyphicon-trash"></span></button></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </center>
    <br>


    <!--  Level 1 Adjective Edit Model -->
 <div class="modal fade" id="editPModel" tabindex="-1" role="dialog" aria-labelledby="editModel" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header" style="background-color: greenyellow">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Question</h4>

                </div>
                <div class="modal-body">
                    <form action="{{ url_for('save_edited_adjectives') }}" method="post" onsubmit="return validateForm()" >

                        <div class="form-group">
                            <label for="lblquestion" class="col-sm-4 control-label" style="color: #000000">Question
                            </label>

                            <div class="col-sm-6" >
                                <input type="inputQues" class="form-control" id="inputQues" name="inputQues" style="background-color: #CCF5FF; width: 360px; display: inline; color: #000000; font-size: 16px" required=""
                                       autofocus="" onkeyup="hidePreview()">
                                 </div> </div>
                                <div class="form-group">
                                <button type="button" onclick="preview()" id="edit_preview_level3" class="btn btn-info" style=" margin-left: 650px; width: 40px; display: inline;margin-top: -50px"><img src="/static/img/preview.png" style="width: 22px; height: 22px"/></button>
                                </div>


                        <div class="form-group">
                            <label for="answer1" class="col-sm-4 control-label"
                                   style="color: #000000">Answer 1:</label>

                            <div class="col-sm-4">
                                <input type="Answer1" class="form-control" id="Answer1" name="Answer1" required=""
                                       autofocus="" style="background-color:#FFE6F0; width: 200px; color: #000000; font-size: 16px">
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="form-group">
                            <label for="answer2" class="col-sm-4 control-label"
                                   style="color: #000000">Answer 2:</label>

                            <div class="col-sm-4">
                                <input type="Answer2" class="form-control" id="Answer2" name="Answer2" required=""
                                       autofocus="" style="background-color:#FFE6F0; width: 200px; color: #000000; font-size: 16px">
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="form-group">
                            <label for="answer3" class="col-sm-4 control-label"
                                   style="color: #000000">Answer 3:</label>

                            <div class="col-sm-4">
                                <input type="Answer3" class="form-control" id="Answer3" name="Answer3" required=""
                                       autofocus="" style="background-color:#FFE6F0; width: 200px; color: #000000; font-size: 16px">
                            </div>
                        </div>

                        </br>
                        </br>
                        <div class="form-group">
                            <label for="answer4" class="col-sm-4 control-label"
                                   style="color: #000000">Correct Answer :</label>

                            <div class="col-sm-4">
                                <input type="Answer" class="form-control" id="Answer" name="Answer" required=""
                                       autofocus="" style="background-color:#FFE6F0; width: 200px; color: #000000; font-size: 16px">
                            </div>
                        </div>

                            <br>

                         <div id="level1_preview_container" role="menu" style="display: none; margin-left: 37px">
                                    <div>
                                        <label id="lblPreview" style="color: green; font-size: 21px">Preview : </label>
                                        <label id="display_question_level1" style="font-size: 20px"></label>
                                    </div>
                                </div>
                        <input type="hidden" name="qno" id="IdInput">
                         <br>
                        <br>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>



    <!-- Level 1 Adjective Edit Model -->

    <script type="text/javascript">
        $('#editPModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var modal = $(this)

            $.get("{{ url_for('edit_adjectives') }}?qno=" + id, function (data) {
                var json = JSON.parse(data);
                modal.find('#inputQues').val(json.question)
                modal.find('#Answer1').val(json.a)
                modal.find('#Answer2').val(json.b)
                modal.find('#Answer3').val(json.c)
                modal.find('#Answer').val(json.answer)
                modal.find('#IdInput').val(id)
            })
        })
    </script>

    <!-- Confirm Delete Adjective Question -->
    <script>
        function doconfirm() {
            var status = confirm("Are you sure you want to delete this question ?");
            if(status==true)
            {
                return true;
            }
            else{
                return false;
            }
        }
    </script>

    <!-- Conjunctions Table -->

    <script>
        $(document).ready(function() {
            var table = $('#mytable').DataTable();

            new $.fn.dataTable.KeyTable( table );
        } );

        $('#mytable').DataTable( {
            scrollY: 400
        } );

    </script>

    <!-- Level 1 Conjunctions Edit Model Validate Question -->
    <script>
        function validateForm() {

            var q1 = document.getElementById("inputQues");

            if (q1.value.indexOf('#')==-1) {
                alert("Blank(#) is missing in question. Please insert # to insert the blank.");
                q1.focus();
                return false;
            }
        }
    </script>


    <!-- Level 1 Conjunctions Preview Edited Question -->

    <script type="text/javascript" >
        function preview(){
            var div=document.getElementById("level1_preview_container");

            if(div.style.display=='none') {
                var question = document.getElementById("inputQues").value;

                var que = question.split("#");
                if(que[1]) {
                    var result = que[0] + " __________ " + que[1];
                }
                else{
                    var result = question;
                }

                document.getElementById("display_question_level1").textContent=result;
                $("#level1_preview_container").fadeIn("slow");
            }
            else if(div.style.display!='none') {
                $("#level1_preview_container").fadeOut("slow");
            }
        }
        function hidePreview(){
            $("#level1_preview_container").fadeOut("slow");
        }
    </script>




{% endblock %}