<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <script type=text/javascript>
    $(function() {
      $('#speak').bind('click', function() {
        $.getJSON('/speak_dialog', {
          sentence: $('input[name="sentence"]').val()
        });
        return false;
      });
    });
  </script>

</head>
<body>

<form>

    <input type="text" size="5" name="sentence"> +

{#    <p><a href="" id="calculate">calculate server side</a>#}
{#    <button type="button" id="calculate">v</button>#}
    <input type="image" id="speak" src="/static/img/speak.png" border="0" alt="Speak" height="35">

</form>

</body>
</html>